body {
  margin: 0;
  font-family: sans-serif;
}
.header {
  background-color: royalblue;
  height: 50px;
  font-size: 2em;
  color: white;
  padding: 20px;
}

.todoform {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.todoinput {
  width: 100%;
  border: none;
  border-bottom: 1px solid whitesmoke;
  font-size: 1.5em;
  text-align: center;
  height: 50px;
}
.todobutton {
  width: 100%;
  border: 1px solid tomato;
  height: 50px;
  background-color: tomato;
  font-size: 1.1em;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.todobutton:hover {
  background-color: transparent;
  color: black;
}

.todoitem {
  margin: auto;
  border: 2px solid whitesmoke;
  padding: 20px;
  margin-top: 20px;
}

.deletebutton {
  border: 1px solid tomato;
  height: 50px;
  background-color: tomato;
  color: white;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 10%;
}

.deletebutton:hover {
  background-color: transparent;
  color: black;
}
